
<label for="geschlossen">
	<f:translate key="tx_woehrlforum_domain_model_theme.geschlossen" />
</label><br />
	<f:form.checkbox property="geschlossen" value="1" /><br />
<label for="betreff">
	<f:translate key="tx_woehrlforum_domain_model_theme.betreff" />
</label><br />
	<f:form.textfield property="betreff" /><br />
<label for="autor">
	<f:translate key="tx_woehrlforum_domain_model_theme.autor" />
</label><br />
	<f:form.textfield property="autor" /><br />
<label for="erstellt">
	<f:translate key="tx_woehrlforum_domain_model_theme.erstellt" />
</label><br />
	<f:form.textfield property="erstellt"  value="{theme.erstellt->f:format.date()}" /><br />
<label for="wieoftwurdedasThemaangesehen">
	<f:translate key="tx_woehrlforum_domain_model_theme.wieoftwurdedas_themaangesehen" />
</label><br />
	<f:form.textfield property="wieoftwurdedasThemaangesehen" /><br />
<label for="anzahlderAnworten">
	<f:translate key="tx_woehrlforum_domain_model_theme.anzahlder_anworten" />
</label><br />
	<f:form.textfield property="anzahlderAnworten" /><br />
<label for="ersteNachricht">
	<f:translate key="tx_woehrlforum_domain_model_theme.erste_nachricht" />
</label><br />
	<f:form.textfield property="ersteNachricht" /><br />
<label for="letzterNachricht">
	<f:translate key="tx_woehrlforum_domain_model_theme.letzter_nachricht" />
</label><br />
	<f:form.textfield property="letzterNachricht" /><br />