
<table class="tx-woehrl-forum" >
	<tr>
		<td>
			<f:translate key="tx_woehrlforum_domain_model_theme.geschlossen" />
		</td>
		<td>
		{theme.geschlossen}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_woehrlforum_domain_model_theme.betreff" />
		</td>
		<td>
		{theme.betreff}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_woehrlforum_domain_model_theme.autor" />
		</td>
		<td>
		{theme.autor}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_woehrlforum_domain_model_theme.erstellt" />
		</td>
		<td>
		{theme.erstellt -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_woehrlforum_domain_model_theme.wieoftwurdedas_themaangesehen" />
		</td>
		<td>
		{theme.wieoftwurdedasThemaangesehen}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_woehrlforum_domain_model_theme.anzahlder_anworten" />
		</td>
		<td>
		{theme.anzahlderAnworten}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_woehrlforum_domain_model_theme.erste_nachricht" />
		</td>
		<td>
		{theme.ersteNachricht}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_woehrlforum_domain_model_theme.letzter_nachricht" />
		</td>
		<td>
		{theme.letzterNachricht}
		</td>
	</tr>
</table>