
<label for="name">
	<f:translate key="tx_woehrlforum_domain_model_gruppe.name" />
</label><br />
	<f:form.textfield property="name" /><br />
<label for="beschreibung">
	<f:translate key="tx_woehrlforum_domain_model_gruppe.beschreibung" />
</label><br />
	<f:form.textfield property="beschreibung" /><br />
<label for="frontendBenutzer">
	<f:translate key="tx_woehrlforum_domain_model_gruppe.frontend_benutzer" />
</label><br />
	<f:form.textfield property="frontendBenutzer" /><br />
<label for="frontendGruppen">
	<f:translate key="tx_woehrlforum_domain_model_gruppe.frontend_gruppen" />
</label><br />
	<f:form.textfield property="frontendGruppen" /><br />