
<table class="tx-woehrl-forum" >
	<tr>
		<td>
			<f:translate key="tx_woehrlforum_domain_model_gruppe.name" />
		</td>
		<td>
		{gruppe.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_woehrlforum_domain_model_gruppe.beschreibung" />
		</td>
		<td>
		{gruppe.beschreibung}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_woehrlforum_domain_model_gruppe.frontend_benutzer" />
		</td>
		<td>
		{gruppe.frontendBenutzer}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_woehrlforum_domain_model_gruppe.frontend_gruppen" />
		</td>
		<td>
		{gruppe.frontendGruppen}
		</td>
	</tr>
</table>