
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
<h1>Listing for Kompetenz</h1>

<f:flashMessages />

<table  class="tx_woehrlakademie" >
	<tr>
		<th><f:translate key="tx_woehrlakademie_domain_model_kompetenz.titel" /></th>
		<th><f:translate key="tx_woehrlakademie_domain_model_kompetenz.bodytext" /></th>
		<th><f:translate key="tx_woehrlakademie_domain_model_kompetenz.image" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{kompetenzs}" as="kompetenz">
		<tr>
			<td><f:link.action action="show" arguments="{kompetenz : kompetenz}"> {kompetenz.titel}</f:link.action></td>
			<td><f:link.action action="show" arguments="{kompetenz : kompetenz}"> {kompetenz.bodytext}</f:link.action></td>
			<td><f:link.action action="show" arguments="{kompetenz : kompetenz}"> {kompetenz.image.originalResource.name}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{kompetenz : kompetenz}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{kompetenz : kompetenz}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Kompetenz</f:link.action>
</f:section>