
<table class="tx-woehrl-akademie" >
	<tr>
		<td>
			<f:translate key="tx_woehrlakademie_domain_model_schulungsort.titel" />
		</td>
		<td>
		{schulungsort.titel}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_woehrlakademie_domain_model_schulungsort.strasse" />
		</td>
		<td>
		{schulungsort.strasse}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_woehrlakademie_domain_model_schulungsort.plz" />
		</td>
		<td>
		{schulungsort.plz}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_woehrlakademie_domain_model_schulungsort.ort" />
		</td>
		<td>
		{schulungsort.ort}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_woehrlakademie_domain_model_schulungsort.telefon" />
		</td>
		<td>
		{schulungsort.telefon}
		</td>
	</tr>
</table>