
<label for="vorname">
	<f:translate key="tx_woehrlakademie_domain_model_dozent.vorname" />
</label><br />
	<f:form.textfield property="vorname" /><br />
<label for="nachname">
	<f:translate key="tx_woehrlakademie_domain_model_dozent.nachname" />
</label><br />
	<f:form.textfield property="nachname" /><br />
<label for="bild">
	<f:translate key="tx_woehrlakademie_domain_model_dozent.bild" />
</label><br />
	<span>File upload is not implemented!</span><br  /><br />
<label for="beschreibung">
	<f:translate key="tx_woehrlakademie_domain_model_dozent.beschreibung" />
</label><br />
	<f:form.textarea property="beschreibung" cols="40" rows="15" /><br />