{namespace se=Tx_WoehrlSeminare_ViewHelpers}
<p>Sehr geehrte(r) {subscriber.name},</p>

<p>Sie haben sich erfolgreich von der folgenden Veranstaltung abgemeldet:</p>

<p><b>{event.title}</b></p>

<p>
<se:format.oneLine htmlString="<f:render partial='Event/DateFromTo' arguments='{event : event}' />" />
</p>

<f:if condition="{helper.location}">
	<f:then>
<p><b>Veranstaltungsort: </b><br/>{helper.location}</p>
<f:format.html>{event.location.description}</f:format.html>
	</f:then>
</f:if>


<p>Bei Fragen können Sie sich jederzeit an das WÖHRL Akademie-Team wenden unter Tel. 0911/8121-442 oder auch per E-Mail an Frau Diana Walter / <a href="mailto:Diana.walter@woehrl.de">Diana.walter@woehrl.de</a>. </p>
<p>Mit freundlichen Grüßen</p>
<p>Ihr WÖHRL Akademie-Team  <br /></p>

