
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
<h1>Listing for Schulungsort</h1>

<f:flashMessages />

<table  class="tx_woehrlakademie" >
	<tr>
		<th><f:translate key="tx_woehrlakademie_domain_model_schulungsort.titel" /></th>
		<th><f:translate key="tx_woehrlakademie_domain_model_schulungsort.strasse" /></th>
		<th><f:translate key="tx_woehrlakademie_domain_model_schulungsort.plz" /></th>
		<th><f:translate key="tx_woehrlakademie_domain_model_schulungsort.ort" /></th>
		<th><f:translate key="tx_woehrlakademie_domain_model_schulungsort.telefon" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{schulungsorts}" as="schulungsort">
		<tr>
			<td><f:link.action action="show" arguments="{schulungsort : schulungsort}"> {schulungsort.titel}</f:link.action></td>
			<td><f:link.action action="show" arguments="{schulungsort : schulungsort}"> {schulungsort.strasse}</f:link.action></td>
			<td><f:link.action action="show" arguments="{schulungsort : schulungsort}"> {schulungsort.plz}</f:link.action></td>
			<td><f:link.action action="show" arguments="{schulungsort : schulungsort}"> {schulungsort.ort}</f:link.action></td>
			<td><f:link.action action="show" arguments="{schulungsort : schulungsort}"> {schulungsort.telefon}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{schulungsort : schulungsort}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{schulungsort : schulungsort}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Schulungsort</f:link.action>
</f:section>