
<label for="anrede">
	<f:translate key="tx_woehrlakademie_domain_model_teilnehmer.anrede" />
</label><br />
	<f:form.checkbox property="anrede" value="1" /><br />
<label for="vorname">
	<f:translate key="tx_woehrlakademie_domain_model_teilnehmer.vorname" />
</label><br />
	<f:form.textfield property="vorname" /><br />
<label for="nachname">
	<f:translate key="tx_woehrlakademie_domain_model_teilnehmer.nachname" />
</label><br />
	<f:form.textfield property="nachname" /><br />
<label for="filiale">
	<f:translate key="tx_woehrlakademie_domain_model_teilnehmer.filiale" />
</label><br />
	<f:form.textfield property="filiale" /><br />
<label for="position">
	<f:translate key="tx_woehrlakademie_domain_model_teilnehmer.position" />
</label><br />
	<f:form.textfield property="position" /><br />
<label for="personalNr">
	<f:translate key="tx_woehrlakademie_domain_model_teilnehmer.personal_nr" />
</label><br />
	<f:form.textfield property="personalNr" /><br />
<label for="kostenstelle">
	<f:translate key="tx_woehrlakademie_domain_model_teilnehmer.kostenstelle" />
</label><br />
	<f:form.textfield property="kostenstelle" /><br />
<label for="email">
	<f:translate key="tx_woehrlakademie_domain_model_teilnehmer.email" />
</label><br />
	<f:form.textfield property="email" /><br />
<label for="telefon">
	<f:translate key="tx_woehrlakademie_domain_model_teilnehmer.telefon" />
</label><br />
	<f:form.textfield property="telefon" /><br />
<label for="genehmigt">
	<f:translate key="tx_woehrlakademie_domain_model_teilnehmer.genehmigt" />
</label><br />
	<f:form.textfield property="genehmigt" /><br />
<label for="emaildesvorgesezten">
	<f:translate key="tx_woehrlakademie_domain_model_teilnehmer.emaildesvorgesezten" />
</label><br />
	<f:form.textfield property="emaildesvorgesezten" /><br />