
<table class="tx-woehrl-akademie" >
	<tr>
		<td>
			<f:translate key="tx_woehrlakademie_domain_model_teilnehmer.anrede" />
		</td>
		<td>
			{teilnehmer.anrede}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_woehrlakademie_domain_model_teilnehmer.vorname" />
		</td>
		<td>
			{teilnehmer.vorname}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_woehrlakademie_domain_model_teilnehmer.nachname" />
		</td>
		<td>
			{teilnehmer.nachname}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_woehrlakademie_domain_model_teilnehmer.filiale" />
		</td>
		<td>
			{teilnehmer.filiale}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_woehrlakademie_domain_model_teilnehmer.position" />
		</td>
		<td>
			{teilnehmer.position}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_woehrlakademie_domain_model_teilnehmer.personal_nr" />
		</td>
		<td>
			{teilnehmer.personalNr}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_woehrlakademie_domain_model_teilnehmer.kostenstelle" />
		</td>
		<td>
			{teilnehmer.kostenstelle}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_woehrlakademie_domain_model_teilnehmer.email" />
		</td>
		<td>
			{teilnehmer.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_woehrlakademie_domain_model_teilnehmer.telefon" />
		</td>
		<td>
			{teilnehmer.telefon}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_woehrlakademie_domain_model_teilnehmer.genehmigt" />
		</td>
		<td>
			{teilnehmer.genehmigt}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_woehrlakademie_domain_model_teilnehmer.emaildesvorgesezten" />
		</td>
		<td>
			{teilnehmer.emaildesvorgesezten}
		</td>
	</tr>
</table>