
<label for="titel">
	<f:translate key="tx_woehrlakademie_domain_model_schulungsort.titel" />
</label><br />
	<f:form.textfield property="titel" /><br />
<label for="strasse">
	<f:translate key="tx_woehrlakademie_domain_model_schulungsort.strasse" />
</label><br />
	<f:form.textfield property="strasse" /><br />
<label for="plz">
	<f:translate key="tx_woehrlakademie_domain_model_schulungsort.plz" />
</label><br />
	<f:form.textfield property="plz" /><br />
<label for="ort">
	<f:translate key="tx_woehrlakademie_domain_model_schulungsort.ort" />
</label><br />
	<f:form.textfield property="ort" /><br />
<label for="telefon">
	<f:translate key="tx_woehrlakademie_domain_model_schulungsort.telefon" />
</label><br />
	<f:form.textfield property="telefon" /><br />