
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for User</h1>
	<f:debug title="Results of customers">{_all}</f:debug>
<f:flashMessages renderMode="div" />

<table  class="tx_listefeusers" >
	<tr>
		<th>Benutzername</th>
		<th>Name</th>
		<th>Vorname</th>
		<th>Nachname</th>
		<th>E-mail</th>
		<th>Akitv/unaktiv </th>
	</tr>

	<f:for each="{users}" as="user" key="key">
		<tr>
			<td>{user.username}</td>
			<td>{user.name}</td>
			<td>{user.firstName}</td>
			<td>{user.lastName}</td>
			<td>{user.email}</td>
			<td>{user.disable}</td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New User</f:link.action>
</f:section>