<!-- ###TOTAL### -->
<form action="###PAGE###" method="POST">
<input type="hidden" name="no_cache" value="1">

<table cellpadding="2" cellspacing="0" border="0">
	<tr>
		<td colspan="2" class="head2"><p class="box">###TITLE###</p></td>
	</tr>
	<tr>
		<td colspan="2" class="nav">###QUESTION###</td>
	</tr>
    <!-- ###CONTENT### -->
    	<!-- ###LIST###-->
  	<tr>
  		<td width="10" class="nav">
  			<input type="radio" name="###NAME###" value="###VALUE###">
  		</td>
  		<td class="nav">###ANSWER###</td>
  	</tr>
  		<!-- ###LIST### -->
	<!-- ###CONTENT### -->
	<tr>
		<td colspan="2" class="nav">
			<input type="submit" name="###SUBMIT###" value="Abstimmen">
		</td>
	</tr>
</table>
</form>
<!-- ###TOTAL### -->

