
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
    <f:flashMessages />

    <f:comment>
        <![CDATA[
        <!--
        Ohne CDATA wird der Inhalt ausgewertet
        <f:debug2>{test}</f:debug2>
        <f:debug>{kurses}

        <f:debug>{settings}</f:debug>


        # Funktioniert nur im cObject FLUIDTEMPLATE:
        <f:debug>{data}</f:debug>

        -->
        ]]>
    </f:comment>
    <f:if condition="{events}">
        <f:then>
            <f:comment>
                Es gibt <f:count>{events}</f:count> Events:
                <f:count subject="{events}" />
            </f:comment>
            <f:comment>
                <![CDATA[
                <!--
                    {namespace tx=Tx_WoehrlSeminare_ViewHelpers_Condition}
                       -->
                ]]>
            </f:comment>
                    <f:widget.paginate objects="{events}" as="paginatedEvents" configuration="{itemsPerPage: 6, insertAbove: 1, insertBelow: 1, maximumNumberOfLinks: 10}">
                        <f:for each="{paginatedEvents}" as="event"  iteration="catI">
        <f:if condition="{event.monatfilter}">
            <h3>{event.monatfilter}</h3>
        </f:if>

                            <div class="well event row">
                                <div class="col-md-4">
                                    <f:link.action action="show" arguments="{event : event}">
                                        <f:if condition="{event.previewImage}">
                                            <f:then>
                                                <f:image width="970" class="img-thumbnail" src="{event.previewImage.uid}" alt="" treatIdAsReference="TRUE" />
                                            </f:then>
                                            <f:else>
                                                <f:image class="img-thumbnail" src="{settings.displayList.imageNotFound}" alt="Image not found" />
                                            </f:else>
                                        </f:if>
                                    </f:link.action>



                                </div>
                                <div class="col-md-8">
                                    <f:link.action action="show" arguments="{event : event}" pageUid="{settings.singlePid}">
                                        <h3>{event.title}<f:if condition="{event.subtitle}"> <small>{event.subtitle}</small></f:if></h3>
                                    </f:link.action>

                                    Termin: <b><f:format.date format=" %d.%m.%Y">{event.startDateTime}</f:format.date></b>
                                    <f:if condition="{f:format.date(date: event.startDateTime, format: 'Y-m-d')} < {f:format.date(date: event.endDateTime, format: 'Y-m-d')}"> - <b><f:format.date format=" %d.%m.%Y">{event.endDateTime}</f:format.date></b></f:if>

                                    <f:if condition="{event.discipline}">
                                        <h5>Zielgruppe:
                                            <f:for each="{event.zielgruppen}" as="zielgruppe" iteration="iter">

                                                <f:if condition="{iter.isLast}">
                                                    <f:then>
                                                        {zielgruppe.art}
                                                    </f:then>
                                                    <f:else>
                                                        {zielgruppe.art},
                                                    </f:else>
                                                </f:if>

                                            </f:for>

                                        </h5>
                                    </f:if>

                                    <hr />
                                    <f:format.crop maxCharacters="150" append=" ..." respectHtml="false"><f:format.stripTags>{event.teaser}</f:format.stripTags></f:format.crop>

                                    <hr />
                                    <f:if condition="{f:format.date(date: '+0 days' format: 'Y-m-d')} < {f:format.date(date: event.subEndDateTime, format: 'Y-m-d')}">
                                        <f:then>
                                            <f:link.action action="show" pageUid="{settings.singlePid}" arguments="{event : event}" class="btn btn-primary">
                                                <f:translate id="more" default="Buchen"  /> <span class="glyphicon glyphicon-chevron-right"></span>
                                            </f:link.action>
                                        </f:then>
                                        <f:else>
                                            <span class="btn btn-primary"><f:translate id="more" default="Anmeldefrist beendet"  /> <span class="glyphicon glyphicon-lock"></span></span>
                                        </f:else>
                                    </f:if>

                                </div>
                            </div>
                        </f:for>
                    </f:widget.paginate>
                </f:then>
                <f:else>
                    <div class="alert alert-info">
                        <f:translate id="No_events_found" default="No events found." />
                    </div>
                </f:else>
            </f:if>

        </f:section>