
<table class="tx-woehrl-forum" >
	<tr>
		<td>
			<f:translate key="tx_woehrlforum_domain_model_eintrag.autor" />
		</td>
		<td>
		{eintrag.autor}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_woehrlforum_domain_model_eintrag.betreff" />
		</td>
		<td>
		{eintrag.betreff}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_woehrlforum_domain_model_eintrag.i_p_adresse" />
		</td>
		<td>
		{eintrag.iPAdresse}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_woehrlforum_domain_model_eintrag.zuletztbearbeitet" />
		</td>
		<td>
		{eintrag.zuletztbearbeitet -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_woehrlforum_domain_model_eintrag.anzahlder_bearbeitungen" />
		</td>
		<td>
		{eintrag.anzahlderBearbeitungen}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_woehrlforum_domain_model_eintrag.nachricht" />
		</td>
		<td>
		{eintrag.nachricht}
		</td>
	</tr>
</table>